.main_container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
   

}
.topic{
    text-align: center;
    margin-bottom: 2rem;
}

/* table style */
table {
    background: #ffffff;
    width: 70%;
    border-collapse: collapse;
    border: #cacace;
   
}

th, td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 15px;
    /* white-space: nowrap; */
    
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="text"], input[type="date"], input[type="time"], input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.container {
    display: flex;
}

.view-link, .tabbtn {
    width: 200px;
    color: #182431; 
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    padding: 5px 15px;
    border: 1px solid #007BFF; 
    border-radius: 88px; 
    background-color: #f0f8ff; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.view-link:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;

}

.tabbtn:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.details {
    width: 500px;
    height: 300px;
    margin-right: 150px;
    background-color: #007BFF;
    padding: 50px;
    border-radius: 20px;
    color: white;
}

.text {
    color: red;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 20px); /* Adjust width to fit container */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

#teamMembers {
    margin-bottom: 20px;
}

.member {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.btn_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (min-width: 1200px) {
    .main_container {
        
     width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
 }
 @media screen and (max-width: 1199px) {

    .main_container {
        
        width: 100%;
       
        justify-content: center;
        margin-top: 5rem
        ;
        
        
    }


 }

